/* Write your code here. */
<<<<<<< HEAD
/* Write your code here. */
.main-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #9796f0, #fbc7d4);
  min-height: 100vh;
}
.emoji-body-container {
=======
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(to bottom right, #9796f0, #fbc7d4);
}
.emoji-body-container {
  padding: 50px 10px 30px 10px;
>>>>>>> fe246337c632ab4ea4499ffb4bac6b91cce6e36f
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  padding-top: 80px;
  padding-bottom: 80px;
}
.emojis-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
=======
}
@media screen and (min-width: 760px) {
  .emoji-body-container {
    padding: 50px;
  }
}

.emoji-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  padding: 0px;
  margin: auto;
  max-width: 1000px;
}

@media screen and (max-width: 540px) {
  .emoji-list {
    width: 100%;
  }
}

@media screen and (min-width: 760px) {
  .emoji-list {
    width: 80%;
  }
>>>>>>> fe246337c632ab4ea4499ffb4bac6b91cce6e36f
}
